* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #6400e4;
  --box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.34);
  --hover--shadow: 0px 4px 4px 0px rgba(3, 3, 3, 0.561);
  --nav--shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  --light-black: #141c3a;
}

body {
  font-family: "Numito", sans-serif;
}

.container {
  width: 28%;
  margin: 100px auto;
}
form {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
form label {
  margin: 5px 0;
}

form input[type="text"],
input[type="password"] {
  height: 55px;
  margin: 5px 0;
  border: 0.5px solid #b8b8b85d;
  border: radius 3px;
  padding: 0 15px;
  font-size: 20px;
  font-family: "Numito", sans-serif;
}

form a {
  margin: 10px 0;
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
}

form input[type="submit"] {
  height: 50px;
  margin: 5px 0;
  background: var(--main-color);
  color: #fff;
  font-size: 20px;
  font-family: "Numito", sans-serif;
  border: none;
  border: radius 2px;
  color: white;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
